:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --primary-white-color: #FFFFFF;
  --accent-color: #2196F3;
  --primary-grey-color: #757575;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-left: auto;
  }
}

.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}
.menu-button .icon-nav-close {
  display: none;
}
.menu-button.is-open .icon-nav-close {
  display: block;
}
.menu-button.is-open .icon-nav-menu {
  display: none;
}

.mob-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  padding: 48px;
  text-align: center;
  font-size: 20px;
  transform: translateX(100%);
  transition: transform var(--timing-function);
}

/*
.mob-container.is-open{
transform: translateX(0);}
*/
.mob-site-nav-list {
  margin-bottom: 306px;
}

.mob-site-nav-list__item {
  text-align: left;
  margin-bottom: 32px;
}

.mob-site-nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mob-contacts-list {
  margin-bottom: 64px;
}

.mob-contacts-list__item {
  text-align: left;
}
.mob-contacts-list__item:first-child {
  margin-bottom: 32px;
}

.mob-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
}

.mob-soc-list {
  margin-bottom: auto;
}

.mob-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(117, 117, 117);
}

.mob-soc-list {
  display: flex;
  justify-content: space-between;
}

.mob-soc-list__item:nth-child(-n+3) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: var(--primary-white-color);
}

.logo-secondary {
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .logo-secondary {
    text-align: center;
  }
}

.site-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav-list {
    display: flex;
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav-list {
    margin-right: 0px;
  }
}

.site-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}
.site-nav-list__link:hover, .site-nav-list__link:focus {
  color: var(--accent-color);
}
.site-nav-list__link--active::after {
  content: "";
  display: block;
  position: relative;
  top: 30px;
  bottom: auto;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

@media screen and (min-width: 767px) {
  .contacts-list {
    display: flex;
  }
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__item:first-child {
  margin-bottom: 10px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-grey-color);
  transition: color 250ms var(--timing-function);
}
@media screen and (max-width: 1199px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  fill: var(--primary-grey-color);
  transition: fill 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .contacts-list__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__icon {
    margin-right: 10px;
  }
}
.contacts-list__link:hover .contacts-list__icon, .contacts-list__link:focus .contacts-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .icon-smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .icon-envelope {
    width: 14px;
    height: 10px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  padding: 118px 60px;
  background-color: #2F303A;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-2x.jpg);
  }
}

.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__button {
  margin-top: 30px;
  padding: 10px 24px 10px 24px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits__item {
  width: 100%;
  margin-bottom: 30px;
}
.benefits__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .benefits__item:nth-child(2n) {
    margin-right: 0px;
  }
  .benefits__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.benefits__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .benefits__item-title {
    text-align: left;
  }
}

.benefits__item-text {
  /*margin-bottom: 30px;*/
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__image-list {
  display: flex;
  column-gap: 30px;
}

.our-work__image-item {
  position: relative;
}

.our-work__descript {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__descript-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.soc-list__link {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-white-color);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__link-icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--timing-function);
}
.soc-list__link:hover .soc-list__link-icon, .soc-list__link:focus .soc-list__link-icon {
  fill: var(--primary-white-color);
}

.team {
  background: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    margin-right: -30px;
  }
}

.team__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__card-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}

.team__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.team__item-img {
  display: block;
}

.team__item-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.clients-list__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.clients-list__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
@media screen and (max-width: 767px) {
  .clients-list__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__link-icon {
  fill: rgb(175, 177, 184);
  transition: fill 250ms var(--timing-function);
}
.clients-list__link:hover .clients-list__link-icon, .clients-list__link:focus .clients-list__link-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-address {
    margin-right: 165px;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
    margin-left: 0px;
  }
}

.address__street {
  margin-bottom: 9px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .address__street {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .address__street {
    margin-bottom: 8px;
  }
}

.address__link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .address__link {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .address__link {
    margin-bottom: 8px;
  }
}
.address__link:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .join-in {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .join-in {
    margin-right: 93px;
  }
}

.join-in__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .join-in__text {
    text-align: left;
  }
}

.soc-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-list__link--dark:hover, .soc-list__link--dark:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__field {
    display: flex;
    align-items: baseline;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__input {
  width: 450px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  color: var(--primary-white-color);
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}
.subscribe__input:hover, .subscribe__input:focus {
  border: 1px solid var(--accent-color);
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 31px;
}
@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    padding: 10px 28px;
  }
}

.subscribe__button-icon {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  fill: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__button-icon {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin: 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  overflow-y: auto;
}

.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.button-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.icon-close-modal {
  transition: fill 250 ms var(--timing-function);
}
.button-close-modal:hover .icon-close-modal, .button-close-modal:focus .icon-close-modal {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.intup-icon-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 12px 0px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--timing-function);
}
.modal-input:hover, .modal-input:focus {
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}
.modal-input:hover + .input-icon, .modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border 250 ms var(--accent-color);
}
.modal-text:hover, .modal-text:focus {
  border: 1px solid var(--accent-color);
}
.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 52px;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.check-text-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.check-icon-wrap {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250 ms var(--timing-function), border 250 ms var(--timing-function);
}
.modal-check:checked + .check-text .check-icon-wrap {
  background-color: var(--accent-color);
  border: none;
}

.check-icon {
  fill: transparent;
  transition: fill 250ms var(--timing-function);
}
.modal-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.projects-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects-nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-nav-list {
    margin-bottom: 50px;
  }
}

.projects-nav-list__item:not(:last-child) {
  margin-right: 8px;
}

.projects-nav-list__item:nth-child(-n+3) {
  margin-bottom: 15px;
}

.projects-nav-list__btn {
  padding: 6px 22px 6px 22px;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.63;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.projects-nav-list__btn:hover, .projects-nav-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects-list__item {
  width: 100%;
  transition: box-shadow 250ms var(--timing-function);
}
.projects-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .projects-list__item {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
  }
  .projects-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .projects-list__item:nth-child(3n) {
    margin-right: 0px;
  }
  .projects-list__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.projects-list__item:hover, .projects-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.projects-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.projects-list__item:hover .projects-list__top-text {
  transform: translateY(0%);
}
.projects-list__item:hover .projects-list__top-text, .projects-list__item:focus .projects-list__top-text {
  opacity: 1;
  transform: translateY(0);
}

.projects-list__card {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .projects-list__card {
    flex-grow: 1;
  }
}

.projects-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-grey-color);
}

.projects-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects-list__title {
  margin-bottom: 4px;
}/*# sourceMappingURL=main.css.map */