:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-grey-color: #757575;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}