.header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px){
    padding-top: 24px;
    padding-bottom: 24px;
    }

    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.navigation{
   
    @include flex (flex, null, center);

}

.header-logo {
 
    @media screen and (min-width: 768px) {
    margin-right: 88px;}

    @media screen and (min-width: 1200px) {
    margin-right: 93px;}
    }

.header-contacts{
    display: none;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1200px) {
    margin-left: auto;}
}

.menu-open-btn {
    @media screen and (min-width: 767px){
    display: none;}
    
    display: inline-flex;
    margin-left: auto;     
    padding: 0px;
    border:none;
    background-color: transparent;

    cursor: pointer;}

 
.mob-menu{
    @media screen and (min-width: 767px) {
    display: none;
    }

    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    background-color: var(--primary-white-color);
   
    text-align: center;
    font-size: 20px;

    transform: translateX(100%);
    transition: transform var(--timing-function);
 
 }
 
.mob-menu.is-open{
   transform: translateX(0);}

.menu-close-btn {
    @media screen and (min-width: 767px) {
    display: none;
    }

    display: block;
    margin-left: auto;
    padding-top: 10px;
    border:none;
    background-color: transparent;

    cursor: pointer;
}

.icon-menu-close {
    transition: fill 250 ms var(--timing-function);

    .menu-close-btn:hover &,
    .menu-close-btn:focus & {
        fill: var(--accent-color)
    }
}

.mob-site-nav-list{
    margin-bottom: 306px;
}

.mob-site-nav-list__item{
    text-align: left;
    margin-bottom: 32px;  
}

.mob-site-nav-list__link{
    
    @include font-face (500, 40px, 1.175, 0.02em);
    color: var(--title-text-color);
    transition: color 250 ms var(--timing-function);
    
    &:hover,
    &:focus {
        color: var(--accent-color)
    }

}


.mob-contacts-list{
    margin-bottom: 64px;
}

.mob-contacts-list__item{
    text-align: left;

    &:first-child{
    margin-bottom: 32px;     
} 
}

.mob-tel__link{
    @include font-face (500, 34px, 1.176, 0.02em);
    
    text-align: left;
    
    color: var(--accent-color);

}

.mob-soc-list{
    margin-bottom: auto;
}

.mob-mail__link {
    @include font-face (500, 24px, 1.167, 0.02em);

    text-align: left;

    color: rgba(117, 117, 117, 1);
}

.mob-soc-list{
    display: flex;
    justify-content: space-between;
}

.mob-soc-list__item:nth-child(-n + 3){
  border-right: 1px solid rgba(33, 33, 33, 0.2);  
}

.mob-soc-list__link{
    @include font-face (500, 18px, 1.22, 0.02em);

    color: var(--accent-color);

    padding-right: 10px;
}

