.our-work {
  @media screen and (max-width: 1199px){
  display: none;}
}

.our-work__image-list{
  display: flex;
  column-gap: 30px;
}

.our-work__image-item{
  position: relative;
}

.our-work__descript{
 position: absolute;
 bottom: 0;
 
 @include flex (flex, center, center);
 
 width: 370px;
 height: 70px;
 
 background-color: rgba(47, 48, 58, 0.8);

}

.our-work__descript-text{

@include font-face (700, 14px, 1.14, 0.03em);
 
 text-align: center;

 text-transform: uppercase;

 color: var(--primary-white-color);
}
