.team {
    background: #F5F4FA;
}


.team__list {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}
    @media screen and (min-width: 1200px){
    display: flex;
    margin-right: -30px;
}
}

.team__item {
    margin-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
    width: calc((100% - 60px)/2);

    margin-right: 30px;
    
    &:nth-child(2n) {
    margin-right: 0px;
}
      
    &:nth-last-child(-n+2) {
    margin-bottom: 0px;
}
}
    @media screen and (min-width: 1200px) {
    width: calc((100% - 120px)/4);

    margin-bottom: 0px;

    &:not(:last-child) {
    margin-right: 30px;
    }

}
}


.team__card-wrap {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--primary-white-color);
}

.team__item-title {
    margin-bottom: 10px;

    @include font-face (500, 16px, 1.19, 0.03em);

    text-align: center;
    
    color: var(--title-text-color);
}

.team__item-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__item-text {
    margin-bottom: 16px;

    @include font-face (400, 16px, 1.19, 0.03em);

    text-align: center;
   
}
